name: Automated Preprocessing

on:
  push:
    branches: ["main"]
  workflow_dispatch:
  
permissions:
  contents: write

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run preprocessing
      run: python preprocessing/automate_Nandana_Rasendriya.py

    - name: Commit processed dataset
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add preprocessing/churn-bigml-80_preprocessing/*
        git commit -m "Auto update preprocessed dataset" || echo "No changes"
        git push